# Visual Studio
.vs/
*.user
*.suo

# .NET build folders
**/bin/
**/obj/

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# VS Code
.vscode/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db